<a href="https://colab.research.google.com/github/Sra1panasa/Python/blob/main/datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

continue: skips that particular iteration

In [21]:
list =[1,2,3,4,5]  

#1iteration=execution of for loop one time
for i in list:
  if i==3:
    continue
  print(i)

1
2
4
5

break: come out of the loop

In [25]:
list =[1,2,3,4,5]  

#1iteration=execution of for loop one time
for i in list:
  if i==2:
    break
  print(i)

1

functions:

In [41]:
  a=10
  b=10
  print(a+b)

20

In [38]:
def sum(a,b):
  print("sum")
  return a+b

def multitply(a,b):
  print("multiplication")
  return a*b

In [35]:
sum(10,10)

sum

20

In [39]:
multitply(10,10)

multiplication

100

Pass:

In [42]:
def test(a,b):
  pass

In [43]:
list =[1,2,3,4,5,6]  

#1iteration=execution of for loop one time
for i in list:
  pass

In [47]:
str = "HELLO"
print(str[0])
print(str[0:3])
print(str[:3])
print(str[1:])

H
HEL
HEL
ELLO

data structure:

In [56]:
# once data is create it can't be modified
l=[1,2,3,4,4]
11=["raju","ravi","john"]
l.append(5)
print(l)

# once data is create it can't be modified
t=(1,2,3,4,4)
print(t)
print(type(t))

print(type(l))
s={1,2,3,4,4}
print(s)
print(type(s))

[1, 2, 3, 4, 4, 5]
(1, 2, 3, 4, 4)
<class 'tuple'>
<class 'list'>
{1, 2, 3, 4}
<class 'set'>

In [60]:
Employee = {"Name": "John", 
            "salary":25000,
            "Company":"GOOGLE"}    
print(type(Employee)) 
print(Employee)

<class 'dict'>
{'Name': 'John', 'salary': 25000, 'Company': 'GOOGLE'}