<a href="https://colab.research.google.com/github/Sra1panasa/Python/blob/main/Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Programs:

In [10]:
# Reverese Of String

s = "i like this program very much"

string_list=s.split()
reverse_string=[]
for word in string_list:
  reverse_string.insert(0,word)

print("".join(reverse_string))
print(" ".join(reverse_string))

muchveryprogramthislikei
much very program this like i

In [11]:
# Inset method inserts value at particular position
# In Above example every time it inserts value at zero index.

fruits = ['apple', 'banana', 'cherry']

fruits.insert(0, "orange")

print(fruits)

['orange', 'apple', 'banana', 'cherry']

In [15]:
s='python'

print(s[::-1])

nohtyp

In [16]:
# check string present in another string
#Case sensitive
s="python is awesome"
s1="python"
s2="Python"
print(s1 in s)
print(s2 in s)

True
False

In [17]:
# string slicing

s='python'
print(s[0:2])

py

In [20]:
# find vowels in string

s='python is'
vowels=['a','e','i','o','u','A','E','I','O','U']
count=0
for char in s:
  if char in vowels:
    count+=1

print(count)

2

In [21]:
# Even odd

num=10

if num%2==0:
  print("even")

even

In [30]:
# prime number

num=10

print(num/2)
print(round(round(num/2)))
for i in range(2,round(num/2)):
  print(i)
  if num%i==0:
    print("not prime")

5.0
5
2
not prime
3
4

In [32]:
# in the above code it is iterating for 3 and 4 also even after we know result at 2 nd itself to stop this give break if its divisible then and there

num=7
prime=True
if num>1:
  for i in range(2,int(num/2)):
    if num%2==0:
      print("not prime")
      prime=False
      break
  if prime:
    print("prime")

prime

In [34]:
num=3
fact=1
for i in range(1,num+1):
  fact=fact*i

print(fact)

6

In [38]:
 #Write a program to print fibonacci series upto n terms in python

num=10
n1,n2=0,1
for i in range(2,num+1):
  n3=n1+n2
  n1=n2
  n2=n3
  print(n3,end=",")

1,2,3,5,8,13,21,34,55,

In [39]:
my_dict = {'nikhil': 1, 'manjeet': 10, 'Amit': 15}
new_dict = {}
for key, value in my_dict.items():
    if key == 'Amit':
        new_dict['Suraj'] = value
    else:
        new_dict[key] = value
del my_dict
my_dict = new_dict
print(my_dict)

{'nikhil': 1, 'manjeet': 10, 'Suraj': 15}