<a href="https://colab.research.google.com/github/Sra1panasa/Python/blob/main/Pandas_Grandham/pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Formulas:**

In [2]:
import pandas as pd

In [ ]:
#creating Dataframe
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
# creating dataframe with list

lst = ['Java', 'Python', 'C', 'C++',  
         'JavaScript', 'Swift', 'Go']  
dframe = pd.DataFrame(lst)  
print(type(dframe))
print(dframe)

<class 'pandas.core.frame.DataFrame'>
            0
0        Java
1      Python
2           C
3         C++
4  JavaScript
5       Swift
6          Go

In [ ]:
#creating dataframe from dict

data = {'Name': ['Tom', 'Joseph', 'Krish', 'John'], 'Age': [20, 21, 19, 18]}  
  
# Create DataFrame  
df = pd.DataFrame(data)  
  
# Print the output.  
print(df)

     Name  Age
0     Tom   20
1  Joseph   21
2   Krish   19
3    John   18

In [ ]:
# creating dataframe from dict with index

data = {'Name':['Renault', 'Duster', 'Maruti', 'Honda City'], 'Ratings':[9.0, 8.0, 5.0, 3.0]}  
  
# Creates pandas DataFrame.  
df = pd.DataFrame(data, index =['position1', 'position2', 'position3', 'position4'])  
  
# print the data  
print(df)

                 Name  Ratings
position1     Renault      9.0
position2      Duster      8.0
position3      Maruti      5.0
position4  Honda City      3.0

In [4]:
#Create Dataframe from list of dicts
data = [{'A': 10, 'B': 20, 'C':30}, {'x':100, 'y': 200, 'z': 300}]  
df = pd.DataFrame(data)  
df

      A     B     C      x      y      z
0  10.0  20.0  30.0    NaN    NaN    NaN
1   NaN   NaN   NaN  100.0  200.0  300.0

In [5]:
data = [{'A': 10, 'B': 20, 'C':30}, {'A':100, 'y': 200, 'z': 300}]  
df = pd.DataFrame(data)  
df

     A     B     C      y      z
0   10  20.0  30.0    NaN    NaN
1  100   NaN   NaN  200.0  300.0

In [8]:
#Create Dataframe using the zip() function
# List1  
Name = ['tom', 'krish', 'arun', 'juli']  
  
# List2  
Marks = [95, 63, 54, 47]  
  
#  two lists.  
# and merge them by using zip().  
list_tuples = list(zip(Name, Marks))  
  
# Assign data to tuples.  
print(list_tuples)  
  
# Converting lists of tuples into  
# pandas Dataframe.  
dframe = pd.DataFrame(list_tuples, columns=['Name', 'Marks'])  
  
# Print data.  
print(dframe)

[('tom', 95), ('krish', 63), ('arun', 54), ('juli', 47)]
    Name  Marks
0    tom     95
1  krish     63
2   arun     54
3   juli     47